In [5]:
from selenium import webdriver
import os
import pandas as pd

In [7]:
data_path = os.path.join("data","Assignment.xlsx")
data = pd.read_excel(data_path)

In [10]:
df = pd.DataFrame(data)

In [17]:
df.head()

                          Property             Address
0            Bestech Park View Spa   Sector 47 Gurgaon
1  Puri Diplomatic Greens Phase II  Sector 111 Gurgaon
2   Puri Diplomatic Greens Phase I  Sector 111 Gurgaon
3         Bestech Park View City 2   Sector 49 Gurgaon
4         DLF New Town Heights III   Sector 91 Gurgaon

In [19]:
df.iloc[0][0]

'Bestech Park View Spa'

In [25]:
for index,row in df.iterrows():
    print(row[0])

Bestech Park View Spa
Puri Diplomatic Greens Phase II
Puri Diplomatic Greens Phase I
Bestech Park View City 2
DLF New Town Heights III
DLF New Town Heights I
DLF Select Homes
Conscient Heritage One
Central Park II-Belgravia Resort Residences
Emaar Gurgaon Greens
DLF Beverly Park II
DLF Regent House
Emaar The Meadows
Central park I
Emaar The Palm Drive-Palm Studios
Emaar The Vilas
Emaar The Palm Springs
Central Park II-The Room
Central Park II-Bellevue
Mahindra Aura
Indiabulls Enigma
Indiabulls Centrum Park
Emaar The Enclave
Ireo The Grand Arch
Huda Staff Colony
Huda Sarswati Vihar
Huda Smayan Society
Technical Paradise
Mi Casa Apartments
Shree Ganesh Apartments CGHS
The Surya Apartments CGHS
The Adarsh Apartments
Uphaar Yash Apartments
Anand Niketan CGHS
Samanvay Apartments
Housing Board Colony Sector 9
Housing Board Colony Sector 51
DLF Manhattan Apartments
The IFCI Staff CHS
Crestwood Apartment
Central Park Belgravia Resort Residency
DLF The Ultima
Ashok Vihar Sector 3
Orange Drive
DLF Mulberry Avenue
RWA Surya Vihar Central Gurgaon
Vijay Vihar Apartments Gurgaon
Anamika Enclave
Jawahar Nagar CHS
Cosmos Executive